@import url(styles/header.css);
@import url(styles/main.css);

:root{
    --cor-primaria-cabecalho: #8F8F8F;
    --cor-secundaria-cabecalho: #292929;
    --cor-do-botao: #4CA4AE;
    --cord-preta-geral: #000000;
}
   
body {
    background-color: #113933;
}